.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  align-items: top;
  justify-content: left;
}

h1 {
  font-size: 1.5em;
}

.ListContainer {
  flex: 10;
  background-color: #4f5768;
  border-radius: 2vw;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 70vw;
  margin-left: 15vw;
}

.ListContainer ul {
  margin: 0;
  padding: 0;
}

.ListContainer ul li {
  margin: 0;
  padding: 0;
}



@media only screen and (max-width: 1024px) {
  .ListContainer {
      width: 90vw;
      margin-left: 5vw;
      margin-top: 2vh;
  }
}